<html>
  <head>
    <style>
      h1 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        color: #00bfff;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome <%= username %></h1>
  </body>
</html>